body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #30336b;
  color: white;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
}
.App {
  font-size: 5em;
  flex: 1;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
